# ---------------------------------------------------
# OS
# ---------------------------------------------------

.DS_Store
Thumbs.db

# ---------------------------------------------------
# LOGS
# ---------------------------------------------------

*.log

Y-Generation-code-gpt

# ---------------------------------------------------
# ENV
# ---------------------------------------------------
geE258AkE7
.env
.env.*
!.env.example

# ---------------------------------------------------
# IDE
# ---------------------------------------------------

.idea/
.vscode/
.zed/
.phpactor.json

# ---------------------------------------------------
# AI / TOOLS
# ---------------------------------------------------

.codex/
.cursor/

# ---------------------------------------------------
# PHPUNIT
# ---------------------------------------------------

.phpunit.cache/
.phpunit.result.cache

# ---------------------------------------------------
# AUTH
# ---------------------------------------------------

auth.json

# ---------------------------------------------------
# DEPENDENCIES
# ---------------------------------------------------

/vendor/
/node_modules/

# ---------------------------------------------------
# BUILD FILES
# ---------------------------------------------------

/public/build
/public/hot
/public/fonts-manifest.dev.json

# ---------------------------------------------------
# STORAGE
# ---------------------------------------------------

/public/storage
/storage/*.key
/storage/pail

# ---------------------------------------------------
# CACHE
# ---------------------------------------------------

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

# ---------------------------------------------------
# LARAVEL
# ---------------------------------------------------

/storage/*.key

# ---------------------------------------------------
# HOMESTEAD
# ---------------------------------------------------

Homestead.json
Homestead.yaml

# ---------------------------------------------------
# IDE HELPER
# ---------------------------------------------------

_ide_helper.php

# ---------------------------------------------------
# NPM / DEBUG
# ---------------------------------------------------

npm-debug.log
yarn-error.log
pnpm-debug.log

# ---------------------------------------------------
# TESTS
# ---------------------------------------------------

/coverage

# ---------------------------------------------------
# TEMP FILES
# ---------------------------------------------------

*.tmp
*.temp